*.txt filter=lfs diff=lfs merge=lfs -text
SOA_LTC_2000_16_Incidence.txt filter=lfs diff=lfs merge=lfs -text
SOA_LTC_2000_16_Termination.txt filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
